```{=html}

<style>
</style>

<ul class="list">
  <% for (const item of items) { %>
    <li <%= metadataAttrs(item) %>>
      <%= item.stainname %>
      <br/>
      <%= item.reponame %>
      <br/>
      <%= item.titleTR %>
      <br/>
      <%= item.titleEN %>
      <br/>
      <%= item.url %>
      <br/>
      <a href="<%= item.url %>" target="_blank">
      <%= item.reponame %>
      </a>
      <br/>
      <a href="<%= item.url %>" target="_blank">
      <img src="<%= item.screenshot %>" alt="image" style="width:25%;">
      </a>
      <br/>
      <%= item.categoriesTR %>
      <br/>


      <!-- paper info for not-yet-published papers -->
      <% if (item.type !== 'Published') { %>
        <small class="text-muted">
          <%= item.date %>. <%= item.author %>. <%= item.status %>.
        </small>
      <% } %>

      <!-- paper info for published papers -->
      <% if (item.type === 'Published') { %>
        <small class="text-muted">
          <%= item.year %>. <%= item.author %>. <%= item.journal %>.
        </small>
      <% } %>

      <br/>



      <p>
      <br/>

      <% if (item.note !== "") { %>
        <small class="text-secondary">
          <span class="note">Note: <%= item.note %></span>
        </small>
      <% } %>
      </p>

      <hr>


      <% if(item.author && item.author.includes('deneme')) { %>
        <strong>Title:</strong> <%= item.titleEN || 'No title provided' %>
        <br>
        <strong>Author:</strong> Authors include deneme
        <br>
        <%= item.author %>
    <% } %>






    </li>
  <% } %>
</ul>

```

