      <!-- paper info for not-yet-published papers -->
      <% if (item.type !== 'Published') { %>
        <small class="text-muted">
          <%= item.date %>. <%= item.author %>. <%= item.status %>.
        </small>
      <% } %>

      <!-- paper info for published papers -->
      <% if (item.type === 'Published') { %>
        <small class="text-muted">
          <%= item.year %>. <%= item.author %>. <%= item.journal %>.
        </small>
      <% } %>

      <br/>

      <% if (item.errata) { %>
        <a role="button" href="<%= item.errata %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="bi bi-exclamation-diamond ai-lg"></i> Errata
        </a>
      <% } %>

      <% if (item.website) { %>
        <a role="button" href="<%= item.website %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="bi bi-filetype-html ai-lg"></i> Project Website
        </a>
      <% } %>

      <% if (item.pdf) { %>
        <a role="button" href="<%= item.pdf %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="bi bi-file-earmark-pdf ai-lg"></i> PDF
        </a>
      <% } %>

      <% if (item.pubopen) { %>
        <a role="button" href="<%= item.pubopen %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="ai ai-open-access ai-lg"></i> Open Access
        </a>
      <% } %>

      <% if (item.pubclosed) { %>
        <a role="button" href="<%= item.pubclosed %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="ai ai-closed-access ai-lg"></i> Publisher's Version
        </a>
      <% } %>

      <% if (item.preprint) { %>
        <a role="button" href="<%= item.preprint %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="ai ai-doi ai-lg"></i> Preprint
        </a>
      <% } %>

      <% if (item.appendix) { %>
        <a role="button" href="<%= item.appendix %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="bi bi-file-earmark-plus ai-lg"></i> Appendix
        </a>
      <% } %>

      <% if (item.dataverse) { %>
        <a role="button" href="<%= item.dataverse %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="ai ai-dataverse ai-lg"></i> Dataverse
        </a>
      <% } %>

      <% if (item.osf) { %>
        <a role="button" href="<%= item.osf %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="ai ai-osf ai-lg"></i> OSF
        </a>
      <% } %>

      <% if (item.github) { %>
        <a role="button" href="<%= item.github %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="bi bi-github ai-lg"></i> GitHub
        </a>
      <% } %>

      <% if (item.prereg) { %>
        <a role="button" href="<%= item.prereg %>" type="button" class="btn btn-outline-secondary btn-xs">
          <i class="ai ai-preregistered ai-lg"></i> Preregistration
        </a>
      <% } %>
