<% items.forEach(function(item, index) { %>
    <h2>
        <%= item.titleEN %> / <%= item.titleTR %>
    </h2>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'wsi-link-<%= index %>')" id="defaultOpen-<%= index %>">WSI -
            Link</button>
        <button class="tablinks" onclick="openTab(event, 'wsi-<%= index %>')">WSI</button>
        <button class="tablinks" onclick="openTab(event, 'diagnosis-<%= index %>')">Diagnosis</button>
    </div>

    <div id="wsi-link-<%= index %>" class="tabcontent">
        <h3>English</h3>
        <p><strong>
                <%= item.titleEN %>
            </strong></p>
        <p>
            <a href="<%= item.url %>" target="_blank">
                <img src="<%= item.screenshot %>" alt="<%= item.titleEN %>" style="width:25%;">
            </a>
        </p>
        <p><a href="<%= item.url %>" target="_blank">Click for Full Screen WSI</a></p>

        <h3>Türkçe</h3>
        <p><strong>
                <%= item.titleTR %>
            </strong></p>
        <p>
            <a href="<%= item.url %>" target="_blank">
                <img src="<%= item.screenshot %>" alt="<%= item.titleTR %>" style="width:25%;">
            </a>
        </p>
        <p><a href="<%= item.url %>" target="_blank">Tam Ekran Görmek İçin Resmi Tıklayın</a></p>
    </div>

    <div id="wsi-<%= index %>" class="tabcontent">
        <h3>English</h3>
        <p>See Microscopy with viewer:</p>
        <iframe src="<%= item.url %>" data-external="1"></iframe>

        <h3>Türkçe</h3>
        <p>Mikroskopik görüntüleri inceleyin:</p>
        <iframe src="<%= item.url %>" data-external="1"></iframe>
    </div>

    <div id="diagnosis-<%= index %>" class="tabcontent">
        <div class="callout callout-tip">
            <h3>Click for Diagnosis</h3>
            <p>
                <%= item.titleEN %>
            </p>
        </div>

        <div class="callout callout-tip">
            <h3>Tanı için tıklayın</h3>
            <p>
                <%= item.titleTR %>
            </p>
        </div>
    </div>
    <% }); %>